#workbenchPageContent {
  max-width: 100%;
}
.content_3f3fd3c2,
.CanvasZone {
  padding: 0 !important;
  max-width: 100% !important;
}
.scopeTopListSection {
  visibility: hidden;
  animation: 1200ms fadeInSmooth ease-out;
  animation-fill-mode: forwards;
}
.scopeTopSection .imageSection {
  visibility: hidden;
  animation: 1000ms fadeIn ease-out;
  animation-fill-mode: forwards;
}
.scopeBottomListSection .BottomSectionContent{
  visibility: hidden;
  animation: 1600ms fadeInSmooth ease-out;
  animation-fill-mode: forwards;
}
.DefineTopListSection{
  visibility: hidden;
  animation: 1800ms fadeInSmooth ease-out;
  animation-fill-mode: forwards;
}
.DefineTopSection .imageSection {
  visibility: hidden;
  animation: 1600ms fadeIn ease-out;
  animation-fill-mode: forwards;
}
.DefineBottomListSection .BottomSectionContent{
  visibility: hidden;
  animation: 2000ms fadeInSmooth ease-out;
  animation-fill-mode: forwards;
}
.BuildTopListSection{
  visibility: hidden;
  animation: 2400ms fadeInSmooth ease-out;
  animation-fill-mode: forwards;
}
.BuildTopSection .imageSection {
  visibility: hidden;
  animation: 2200ms fadeIn ease-out;
  animation-fill-mode: forwards;
}
.BuildBottomListSection .BottomSectionContent{
  visibility: hidden;
  animation: 2600ms fadeInSmooth  ease-out;
  animation-fill-mode: forwards;
}
.ExecuteImplementTopSection .imageSection {
  visibility: hidden;
  animation: 2800ms fadeIn ease-out;
  animation-fill-mode: forwards;
}
.ExecuteImplementTopListSection{
  visibility: hidden;
  animation: 3000ms fadeInSmooth ease-out;
  animation-fill-mode: forwards;
}
.ExecuteImplementBottomListSection 
.BottomSectionContent {
  visibility: hidden;
  animation: 3200ms fadeInSmooth ease-out;
  animation-fill-mode: forwards;
}
.OptimizeTopSection .imageSection {
  visibility: hidden;
  animation: 3400ms fadeIn ease-out;
  animation-fill-mode: forwards;
}
.OptimizeTopListSection{
  visibility: hidden;
  animation: 3600ms fadeInSmooth ease-out;
  animation-fill-mode: forwards;
}
.OptimizeBottomListSection .BottomSectionContent{
  visibility: hidden;
  animation: 3800ms fadeInSmooth ease-out;
  animation-fill-mode: forwards;
}
.leftSidebar{
  visibility: hidden;
  animation: 4000ms fadeIn ease-out;
  animation-fill-mode: forwards;
}
.coloredHeaderGrey{
  visibility: hidden;
  animation: 4200ms fadeIn ease-out;
  animation-fill-mode: forwards;
}
.coloredHeaderLightBlue{
  visibility: hidden;
  animation: 4400ms fadeIn ease-out;
  animation-fill-mode: forwards;
}
.coloredHeaderPurple{
  visibility: hidden;
  animation: 4600ms fadeIn ease-out;
  animation-fill-mode: forwards;
}
.rightSidebar{
  visibility: hidden;
  animation: 4800ms fadeIn ease-out;
  animation-fill-mode: forwards;
}
.clickProgress{
  visibility: hidden;
  animation: 5000ms fadeIn ease-out;
  animation-fill-mode: forwards;
}
.clickAdvice{
  visibility: hidden;
  animation: 5200ms fadeIn ease-out;
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  90% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
@keyframes fadeInSmooth {
  0%{
    visibility: hidden;
    height:0%;
  }
  80%{
    visibility: hidden;
    height:20%;
  }
  90%{
    visibility: hidden;
    height:20%;
  }
  100% {
    visibility: visible;
    height:100%;
  }
}
/* .App {
  font-family: sans-serif;
  text-align: center;
} */
.slider-control-bottomcenter{
  display: none !important;
}
/* select box */
.MuiNativeSelect-root {
  width: 288px !important;
  background-color: #fff !important;
  padding: 10px !important;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.MuiFormControl-root {
  margin-top: 40px !important;
}

.MuiNativeSelect-icon {
  background-color: #000099 !important;
  color: #fff !important;
  border-radius: 50% !important;
  margin-right: 10px !important;
}

.MuiInput-underline:before {
  bottom: -6% !important;
  border-bottom: 2px solid #000099 !important;
}

.MuiInput-underline:after {
  display: none;
}