#workbenchPageContent {
  max-width: 100%;
}
.content_3f3fd3c2,
.CanvasZone {
  padding: 0 !important;
  max-width: 100% !important;
}

.scopeTopSection .imageSection {
  opacity: 0;
  animation: 600ms fadeIn ease-in;
  animation-fill-mode: forwards;
}
.scopeTopListSection {
  opacity: 0;
  animation: 900ms fadeInSmooth ease-in;
  animation-fill-mode: forwards;
}
.scopeBottomListSection .BottomSectionContent {
  opacity: 0;
  animation: 1100ms fadeInSmooth ease-in;
  animation-fill-mode: forwards;
}

.DefineTopSection .imageSection {
  opacity: 0;
  animation: 1400ms fadeIn ease-in;
  animation-fill-mode: forwards;
}
.DefineTopListSection {
  opacity: 0;
  animation: 1700ms fadeInSmooth ease-in;
  animation-fill-mode: forwards;
}
.DefineBottomListSection .BottomSectionContent {
  opacity: 0;
  animation: 1900ms fadeInSmooth ease-in;
  animation-fill-mode: forwards;
}

.BuildTopSection .imageSection {
  opacity: 0;
  animation: 2200ms fadeIn ease-in;
  animation-fill-mode: forwards;
}
.BuildTopListSection {
  opacity: 0;
  animation: 2500ms fadeInSmooth ease-in;
  animation-fill-mode: forwards;
}
.BuildBottomListSection .BottomSectionContent {
  opacity: 0;
  animation: 2700ms fadeInSmooth ease-in;
  animation-fill-mode: forwards;
}

/* .centerImg {
  opacity: 0 !important;
  animation: 3000ms fadeInSmooth ease-in !important;
  animation-fill-mode: forwards !important;
} */

.ExecuteImplementTopSection .imageSection {
  opacity: 0;
  animation: 3000ms fadeIn ease-in;
  animation-fill-mode: forwards;
}
.ExecuteImplementTopListSection {
  opacity: 0;
  animation: 3300ms fadeInSmooth ease-in;
  animation-fill-mode: forwards;
}
.ExecuteImplementBottomListSection .BottomSectionContent {
  opacity: 0;
  animation: 3500ms fadeInSmooth ease-in;
  animation-fill-mode: forwards;
}
.OptimizeTopSection .imageSection {
  opacity: 0;
  animation: 3800ms fadeIn ease-in;
  animation-fill-mode: forwards;
}
.OptimizeTopListSection {
  opacity: 0;
  animation: 4100ms fadeInSmooth ease-in;
  animation-fill-mode: forwards;
}
.OptimizeBottomListSection .BottomSectionContent {
  opacity: 0;
  animation: 4300ms fadeInSmooth ease-in;
  animation-fill-mode: forwards;
}
.leftSidebar {
  opacity: 0;
  animation: 4500ms fadeIn ease-in;
  animation-fill-mode: forwards;
}
.rightSidebar {
  opacity: 0;
  animation: 4700ms fadeIn ease-in;
  animation-fill-mode: forwards;
}
.coloredHeaderGrey {
  opacity: 0;
  animation: 4900ms fadeIn ease-in;
  animation-fill-mode: forwards;
}
.coloredHeaderLightBlue {
  opacity: 0;
  animation: 5100ms fadeIn ease-in;
  animation-fill-mode: forwards;
}
.coloredHeaderPurple {
  opacity: 0;
  animation: 5300ms fadeIn ease-in;
  animation-fill-mode: forwards;
}

.clickProgress {
  opacity: 0;
  animation: 5500ms fadeIn ease-in;
  animation-fill-mode: forwards;
}
.clickAdvice {
  opacity: 0;
  animation: 5700ms fadeIn ease-in;
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInSmooth {
  0% {
    opacity: 0;
    height: 0%;
  }
  80% {
    opacity: 0;
    height: 20%;
  }
  100% {
    opacity: 1;
    height: 100%;
  }
}
/* .App {
  font-family: sans-serif;
  text-align: center;
} */
.slider-control-bottomcenter {
  display: none !important;
}
/* select box */
.MuiNativeSelect-root {
  width: 288px !important;
  background-color: #fff !important;
  padding: 10px !important;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.MuiFormControl-root {
  margin-top: 40px !important;
}

.MuiNativeSelect-icon {
  background-color: #000099 !important;
  color: #fff !important;
  border-radius: 50% !important;
  margin-right: 10px !important;
}

.MuiInput-underline:before {
  bottom: -6% !important;
  border-bottom: 2px solid #000099 !important;
}

.MuiInput-underline:after {
  display: none;
}
.MuiIconButton-colorSecondary{
  color: #000099 !important;
}