.playbookGrid {
  .breadCrumbSection {
    width: 1024px;
    margin: auto;
    display: flex;
    margin-top: 52px;

    .homeIcon {
      width: 21px;
      height: 21px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
      margin-right: 8px;
    }

    .crumbMenu {
      display: flex;
      color: #c7c7c7;

      .crumbArrow {
        margin: 0 8px;
      }

      .crumbMenuItem {
        margin: 0 8px;
        font-weight: normal;
        font-size: 16px;
      }
    }
  }

  .pageHeadingSection {
    text-align: center;
    color: #000099;
    font-size: 32px;
    width: 600px;
    margin: auto;
    margin-top: 38.4px;
    font-weight: bold;

    .redUnderline {
      width: 107px;
      height: 4px;
      margin: 16px auto;
      background-color: #ca001b;
    }
  }

  .arrowSection {
    padding: 80px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 56px;
    position: relative;

    .arrowGrid {
      width: 1516px;
      margin: auto;
      margin-bottom: 112px;
      height: 1211px;
      // background-color: #fff;
      display: grid;
      gap: 14px;
      grid-template-columns: 86px 216.74px 200px 270px 258.53px 306.05px 86px;
      grid-template-rows: 48px 128px 128px 160px;
      grid-template-areas:
        '. greyHeader lightBlueHeader lightBlueHeader PurpleHeader PurpleHeader .'
        'leftSidebar discover design build implement optimize .'
        'leftSidebar discover design build implement optimize .'
        'leftSidebar discover design build implement optimize .'
        'leftSidebar discover design build implement optimize rightSidebar'
        '. discover design build implement optimize rightSidebar'
        '. discover design build implement optimize rightSidebar';

      ul {
        li::marker {
          color: #000099;
        }
      }

      .BottomSectionContent {
        ul,
        ol {
          li::marker {
            color: #ca001b;
          }
        }
      }

      .scopeTopSection {
        height: 824px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .scopeTopListSection {
          div {
            overflow: auto;
          }

          max-height: 548px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
        }
      }

      .scopeBottomListSection {
        height: 218px;

        .BottomSectionContent {
          overflow: auto;
        }
      }

      .DefineTopSection {
        height: 703px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .DefineTopListSection {
          div {
            overflow: auto;
          }

          max-height: 446px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
        }
      }

      .DefineBottomListSection {
        height: 340px;

        .BottomSectionContent {
          overflow: auto;
        }
      }

      .BuildTopSection {
        height: 638px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .BuildTopListSection {
          div {
            overflow: auto;
          }

          max-height: 352px;
          margin-bottom: 25.6px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
        }
      }

      .BuildBottomListSection {
        height: 402px;

        .BottomSectionContent {
          overflow: auto;
        }
      }

      .ExecuteImplementTopSection {
        height: 593px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .ExecuteImplementTopListSection {
          div {
            overflow: auto;
          }

          max-height: 340px;
          margin-bottom: 25.6px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
        }
      }

      .ExecuteImplementBottomListSection {
        height: 448px;

        .BottomSectionContent {
          overflow: auto;
        }
      }

      .OptimizeTopSection {
        height: 602px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .OptimizeTopListSection {
          div {
            overflow: auto;
          }

          max-height: 368px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
        }
      }

      .OptimizeBottomListSection {
        height: 438px;

        .BottomSectionContent {
          overflow: auto;
        }
      }

      .scopeTopListSection,
      .DefineTopListSection,
      .BuildTopListSection,
      .ExecuteImplementTopListSection,
      .OptimizeTopListSection {
        > div {
          &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #f5f5f5;
            border-radius: 10px;
          }

          &::-webkit-scrollbar {
            width: 10px;
            background-color: #f5f5f5;
          }

          &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: #53535390;
          }
        }
      }

      .BottomSectionContent {
        &::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          background-color: #f5f5f5;
          border-radius: 10px;
        }

        &::-webkit-scrollbar {
          width: 10px;
          background-color: #f5f5f5;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 10px;
          background-color: #53535390;
        }
      }

      .headerLabel {
        color: #fff;
        font-weight: 600;
        font-size: 22px;
        padding: 8px;
      }

      .leftSidebar {
        background-color: #000099;
        grid-area: leftSidebar;
        display: flex;
        align-items: center;
        justify-content: center;

        > div {
          transform: rotate(-90deg);
          white-space: nowrap;
        }
      }

      .rightSidebar {
        background-color: #ca001b;
        grid-area: rightSidebar;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 92%;
        margin-top: auto;

        > div {
          transform: rotate(90deg);
          white-space: nowrap;
        }
      }

      .coloredHeaderGrey {
        background-color: #888b8d;
        grid-area: greyHeader;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .coloredHeaderLightBlue {
        background-color: #c8d7ff;
        grid-area: lightBlueHeader;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .coloredHeaderPurple {
        background-color: #753bbd;
        grid-area: PurpleHeader;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .ScopeDiscover {
        grid-area: discover;
        display: flex;
        flex-direction: column;
        // justify-content: flex-end;
      }

      .DefineDesign {
        grid-area: design;
        display: flex;
        flex-direction: column;
        // justify-content: flex-end;
      }

      .ExecuteBuild {
        grid-area: build;
      }

      .ExecuteImplement {
        grid-area: implement;
      }

      .RealizeOptimize {
        grid-area: optimize;
      }

      .imageSection {
        cursor: pointer;
        position: relative;
        margin-bottom: 48px;

        :hover {
          transform: scale(1.05);
          transition: transform 200ms;
        }

        img {
          height: inherit;
          width: 100%;
          position: relative;
          z-index: 1;
        }
      }

      ul,
      ol {
        padding-left: 22px;

        li {
          color: #888b8d;
          font-size: 18px;
          padding: 0 8px;
        }
      }

      .coloredHeaderBlue {
        color: #000099;
        font-size: 22px;
        font-weight: 600;
        padding: 15px;
      }

      .coloredHeaderRed {
        color: #ca001b;
        font-size: 22px;
        font-weight: 600;
        padding: 15px;
      }

      .plusIcon {
        position: absolute;
        right: 0;
        font-size: 48px;
        color: #fff;
        font-weight: 200;
        z-index: 100;
      }

      .arrowTitleSection {
        position: absolute;
        z-index: 100;
        text-align: center;

        .arrowTitle {
          font-weight: 800;
          color: #fff;
          font-size: 20px;
        }

        .arrowSubTitle {
          font-style: italic;
          font-size: 20px;
          color: #fff;
        }
      }
    }

    .arrowSecLegend {
      width: 1516px;
      margin: auto;
      display: flex;
      justify-content: flex-end;
      padding: 0 48px;
      position: relative;
      bottom: 160px;

      .clickAdvice {
        color: #ca001b;
        height: 160px;
        width: 268px;
        padding: 24px 32px;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        -webkit-box-shadow: 0px 3px 34px -10px #0000000f;
        -moz-box-shadow: 0px 3px 34px -10px #0000000f;
        box-shadow: 0px 3px 34px -10px #0000000f;
        margin-right: 112px;
        font-weight: 600;
      }

      .clickProgress {
        -webkit-box-shadow: 0px 3px 34px -10px #0000000f;
        -moz-box-shadow: 0px 3px 34px -10px #0000000f;
        box-shadow: 0px 3px 34px -10px #0000000f;
        background-color: #fff;
        color: #ca001b;
        width: 310px;
        margin-right: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        height: 160px;
        padding: 24px 32px;
      }

      .legendStatus {
        position: relative;
        margin-top: 16px;

        .legendLabels {
          .buAndgs:after {
            color: red;
          }
        }

        > div {
          display: flex;
          justify-content: space-between;

          > div {
            width: 100px;
            text-align: center;
          }
        }

        .buAndgs,
        .ct {
          display: flex;
          flex-direction: column;
          align-items: center;

          .buDotIcon {
            height: 28px;
            width: 2px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
          }

          color: #212121;
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
  }
}

// .centerImg {
//   position: absolute !important;
//   z-index: 10 !important;
//   width: 260px !important;
//   height: 280px !important;
//   left: 50% !important;
//   top: 50% !important;
//   transform: translate(-26%, -138%);
//   opacity: 0 !important;
//   animation: 3000ms fadeInSmooth ease-in-out !important;
//   animation-fill-mode: forwards !important;
// }
// @keyframes fadeIn {
//   90% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }
.centerImg {
  position: absolute !important;
  z-index: 10 !important;
  width: 260px !important;
  height: 280px !important;
  left: -136px !important;
  top: -30px !important;
  cursor: default !important;

  &:hover {
    transform: scale(1) !important;
  }
}

.OptimizeTopListSection {
  div {
    overflow: auto !important;
    margin-bottom: 0.5rem !important;
  }
}

// responsive
@media (max-width: 1800px) {
  .arrowGrid {
    width: 825px !important;
    height: 660px !important;
    grid-template-columns: 50px 120px 120px 120px 140px 140px 50px !important;
    grid-template-rows: 30px 102px 150px 10px !important;
    overflow: hidden;
  }

  .scopeTopListSection,
  .DefineTopListSection,
  .BuildTopListSection,
  .ExecuteImplementTopListSection,
  .OptimizeTopListSection {
    > div {
      &::-webkit-scrollbar {
        width: 3px !important;
        height: 3px !important;
      }
    }
  }

  .BottomSectionContent {
    &::-webkit-scrollbar {
      width: 3px !important;
      height: 3px !important;
    }
  }

  .playbookGrid .arrowSection .arrowGrid .headerLabel {
    font-size: 11px !important;
  }
  .playbookGrid .arrowSection .arrowGrid .coloredHeaderBlue {
    font-size: 16px !important;
  }
  .playbookGrid .arrowSection .arrowGrid .coloredHeaderRed {
    font-size: 16px !important;
  }
  .playbookGrid .arrowSection .arrowGrid ul li,
  .playbookGrid .arrowSection .arrowGrid ol li {
    font-size: 12px !important;
  }

  .centerImg {
    width: 138px !important;
    height: 155px !important;
    left: -70px !important;
    top: -12px !important;
    cursor: default !important;
  }
  .playbookGrid .arrowSection .arrowGrid .imageSection img {
    width: 100%;
    position: relative;
    z-index: 1;
  }
  .playbookGrid .arrowSection .arrowSecLegend {
    width: inherit !important;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 50px !important;
    left: -100px !important;
  }
  .playbookGrid .arrowSection .arrowSecLegend .clickAdvice {
    height: 80px !important;
    width: 120px !important;
    font-size: 18px !important;
  }
  .playbookGrid .arrowSection .arrowSecLegend .clickProgress {
    height: 80px !important;
    font-size: 18px !important;
  }
  .DarkBlueArrow {
    height: 135px !important;
  }
  .DarkBlueArrowProgress {
    transform: rotateX(60deg) !important;
    bottom: 47px !important;
    height: 135px !important;
    margin-left: -2px;
  }
  .RoseArrow {
    height: 125px !important;
    width: 125px !important;
    margin-left: -6px !important;
    margin-top: 2px !important;
  }
  .RoseArrowProgress {
    // transform: rotateX(48deg) !important;
    //   bottom: 52px !important;
    //   height: 73px !important;
    transform: rotateX(48deg) !important;
    bottom: 52px !important;
    margin-left: -5px !important;
    bottom: 50px !important;
    width: 125px !important;
    /* margin-top: 11px; */
    height: 73px !important;
  }
  .RedArrow {
    height: 123px !important;
    width: auto !important;
    margin-top: 9px !important;
    margin-left: -6px !important;
  }
  .RedArrowProgress {
    // height: 73px !important;
    //   transform: rotateX(61deg) !important;
    //   bottom: 42px !important;
    margin-top: 6px;
    height: 73px !important;
    transform: rotateX(61deg) !important;
    bottom: 39px !important;
    margin-left: -5px;
    width: 131px !important;
  }
  .BlueArrow {
    height: 113px !important;
    // top: 52px !important;
    left: 3px !important;
  }
  .BlueArrowProgress {
    // height: 29px !important;
    //   bottom: 42px !important;
    //   transform: rotateX(54deg) !important;

    height: 29px !important;
    bottom: 38px !important;
    transform: rotateX(54deg) !important;
    margin-left: 3px;
  }

  .TealArrow {
    height: 118px !important;
    margin-left: -2px !important;
    width: 144px !important;
  }
  .TealArrowProgress {
    // transform: rotateX(50deg) !important;
    //   bottom: 35px !important;
    //   height: 95px !important;

    transform: rotateX(50deg) !important;
    bottom: 31px !important;
    height: 95px !important;
    margin-left: -3px;
  }
  .scopeTopSection .imageSection {
    .plusIcon {
      top: 5px !important;
    }
    .arrowTitleSection {
      top: 18% !important;
      left: 52% !important;
      transform: rotate(330deg) !important;
    }
  }

  .DefineTopSection .imageSection {
    .plusIcon {
      left: 104px !important;
      top: 0px !important;
    }

    .arrowTitleSection {
      top: 24% !important;
      left: 33% !important;
      transform: rotate(337deg) !important;
    }
  }
  .ExecuteBuild {
    .BuildBottomListSection .BottomSectionContent {
      margin-top: -113px !important;
    }
  }
  .ExecuteBuild .imageSection {
    .plusIcon {
      left: 61px !important;
      top: 16px !important;
    }

    .arrowTitleSection {
      top: 26% !important;
      left: 21% !important;
      transform: rotate(346deg) !important;
    }
  }
  .ExecuteImplement {
    .BottomSectionContent {
      margin-top: -88px !important;
      transform: translateY(-115px);
      height: 255px !important;
    }
  }

  .ExecuteImplement .imageSection {
    .plusIcon {
      right: 0.3rem !important;
      top: -3px !important;
    }

    .arrowTitleSection {
      top: 24% !important;
      left: 50% !important;
    }
  }

  .RealizeOptimize .imageSection {
    .plusIcon {
      right: 68px !important;
      top: 3px !important;
    }

    .arrowTitleSection {
      top: 23% !important;
      left: 20% !important;
      transform: rotate(360deg) !important;
    }
  }
  .buDotIcon {
    display: none !important;
  }
  .legendStatus {
    margin-top: 6px !important;
  }
  .clickProgress div div {
    font-weight: bold !important;
  }
  .playbookGrid .arrowSection .arrowSecLegend .clickProgress {
    width: 212px;
    height: 50px !important;
    font-size: 17px !important;
  }
  .playbookGrid .arrowSection .arrowSecLegend .clickAdvice {
    height: 50px !important;
    width: 135px !important;
    font-size: 18px !important;
    div {
      font-size: 17px !important;
      font-weight: bold !important;
    }
  }
  .arrowTitle {
    font-size: 12px !important;
  }
  .arrowSubTitle {
    font-size: 10px !important;
  }

  .playbookGrid .arrowSection .arrowGrid .plusIcon {
    font-size: 18px !important;
  }

  .playbookGrid .arrowSection .arrowGrid .scopeTopSection {
    height: 716px !important;
    transform: translateY(-115px);
  }
  .scopeTopListSection {
    max-height: 300px !important;
  }
  .playbookGrid .arrowSection .arrowGrid .DefineTopSection {
    height: 637px !important;
    transform: translateY(-115px);
  }
  .DefineTopListSection {
    max-height: 238px !important;
  }
  .playbookGrid .arrowSection .arrowGrid .BuildTopSection {
    height: 593px !important;
    transform: translateY(-115px);
  }
  .BuildTopListSection {
    max-height: 195px !important;
    margin-bottom: 0 !important;
  }
  .playbookGrid .arrowSection .arrowGrid .ExecuteImplementTopSection {
    height: 555px !important;
    transform: translateY(-115px);
  }
  .ExecuteImplementTopListSection {
    max-height: 160px !important;
  }
  .playbookGrid .arrowSection .arrowGrid .OptimizeTopSection {
    height: 564px !important;
    transform: translateY(-115px);
  }
  .OptimizeTopListSection {
    max-height: 188px !important;
  }
  .BottomSectionContent {
    margin-top: -86px !important;
    transform: translateY(-115px);
    height: 240px !important;
  }
  .playbookGrid .arrowSection .arrowGrid .leftSidebar {
    height: 76% !important;
  }
  .rightSidebar {
    height: 350px !important;
    margin-top: initial !important;
  }
  .rightSidebar .headerLabel {
    width: 300px !important;
  }

  .playbookGrid .arrowSection .arrowGrid .coloredHeaderPurple,
  .playbookGrid .arrowSection .arrowGrid .coloredHeaderLightBlue,
  .playbookGrid .arrowSection .arrowGrid .coloredHeaderGrey {
    height: 30px !important;
  }
}
